# dependencies
node_modules
package-lock.json

# test output
.DS_Store
.eslintcache
.turbo
test-results

# build output
packages/**/dist

# Playwright
.playwright-mcp
/blob-report/
/playwright-report/
/playwright/.auth/
/playwright/.cache/